#acasa{
    text-align: center;
    overflow: hidden;
    background-image: url(../IMG/ambiente1.jpg);
    background-size: cover;
}

#acasa .container .text{ 
    text-align: center;
    background: rgba(247, 247, 247, 0.788);
    padding: 2rem 3rem;
    border-radius: .35rem .35rem;
    margin: auto 0 ; 
}

#acasa .text h1{
    margin-bottom: 1rem;
}


#acasa .text p{
    margin-bottom: 2rem;
}

.localizacao{
    padding: 2rem 3rem;
    position: relative;
    width: 90%;
    
}


/* Menu Responsivo */
/* @media (min-width: 1200px){ 
    #acasa .container{
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    #acasa .text{
        text-align: left;
    }

}


@media (min-width: 999px){
    :root{
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }
    #acasa .container{
        margin: 0 auto;
       
    }

   #caroseul .container{
        margin: 0 auto;
        text-align: center;
    }

   
}

@media(max-width: 999px){ /*OK*/
    /* main, .footer{
        font-size: 1.2rem;
    }

    main .title{
        text-align: center;
        font-size: 2rem;
    }

    #acasa .container{
        margin: 0 auto;
        width: 100%;
    }
} */ 