#cardapio{
    text-align: center;
    overflow: hidden;
    background-image: url(../IMG/tortamorango2.jpg);
    background-size: cover;
}

#cardapio .container .text { 
    text-align: center;
    background: rgba(247, 247, 247, 0.61);
    padding: 2rem 3rem;
    border-radius: .35rem .35rem;
    margin: 0 auto ; 
}

#cardapio p {
    font-size: 2rem;
}



/*Direção das imagens dos pratos - Direita */

.direita .container{
    margin: 0 ;
    position: relative;
}


.direita .image{
    height: 19rem;
}

.direita .image img{
    border-radius: 0.25rem;
    border: 1.5rem solid var(--base-color-second);
    
}

.direita .container::before{
    content: '';
    height: 120%;
    /* width: 120%;
    background: #d7bc9956; */
    /* border-right: 3rem solid  var(--base-color-second); */
    position: absolute;
    top: -10%;
    right: -2%;
    z-index: 0; /*Fica atrás da imagem */
}

/*Esquerda*/

 .esquerda .container{
    margin: 0 auto 5rem auto;  
    position: relative; 
} 

.esquerda .container .image{
    height: 19rem;
}


.esquerda .image img{
    position: relative; 
    max-width: 100%;
    height: 20rem;
    top: 10%;
    border-radius: 0.25rem;
    border: 1.5rem solid var(--base-color-second);
}


.esquerda .text{
   margin: 0 auto;
   text-align:center;
}

.esquerda .text p{
    margin-bottom: 2rem;
    line-height: 1.5;
}

.esquerda .container::before{
    content: '';
    height:100%;
    /* background: var(--base-color-second); */
    /* border-right: 3rem solid  var(--base-color-second); */
    position: absolute;
    top: -5%;
    left: -2%;
    z-index: 0; /* ´Fica atrás da imagem */
}


.mainCardapio .container .direita .text,
.mainCardapio .container .esquerda .text{
    margin: 0 auto;  
    text-align:end;
}

 .mainCardapio .text .title{
    text-align: center;   
    margin: 2rem 0;
}

.mainCardapio  .container .text p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}






/* EXTRA LARGE DEVICES: +1200 > */
@media (min-width: 1200px){
    .direita .container, .esquerda .container{
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto 1.5rem auto;
        /* border: .1rem solid var(--base-color);  */
    }
    
    
    .direita .image{
        order: 1; 
    }
    
    .direita .image img{
        width: 100%;
        height: 19rem;
        border-radius: 0.22rem 0.22rem;
    }
    
    .direita .text{  
        order: 0;
        text-align: center;
    }
    
 
    /*ESQUERDA*/

    .esquerda .container{
        margin: 0 auto;
        display: flex;
    }

    .esquerda.image img{
        width: 100%;
    }
}




@media(max-width: 1250px){
    .direita .container, .esquerda .container, .container{
        margin:  0 auto;
    }
    
    .mainCardapio .text{  
        margin: 0 auto;
        text-align: center;
    }
    
    .image{
        margin: 0 auto;
    }
    
    .direita .container::before,
    .esquerda .container::before{
        display: none;
    }
    
    .direita .image img{
        position: relative;
        width: 59%;
        right:-22%;
    }
    
    .esquerda .image img{  
        width: 65%;
        right:-18%;
    }
    
}