#inscricao{
    text-align: center;
    overflow: hidden;
    background-image: url(/IMG/ambiente2.jpg);
    background-size: cover;
}

#inscricao .container .text{
    text-align: center;
    background: rgba(247, 247, 247, 0.61);
    padding: 2rem 3rem;
    border-radius: .35rem .35rem;
    margin: 0 auto ; 
}

#inscricao .text h1{
    margin-bottom: 1rem;
}


#inscricao .text p{
    margin-bottom: 2rem;
}

#trabalheconosco{
    overflow: hidden;
    background: rgba(241, 222, 201, 0.315); 
}

#trabalheconosco .text{
    text-align: center;
    background: rgba(247, 247, 247, 0.61);
    padding: 2rem 3rem;
    border-radius: .35rem .35rem;
}

#trabalheconosco .text h1{
    margin-bottom: 1rem;
}


#trabalheconosco .text p{
    margin-bottom: 2rem;
}

/* ======= RESPONSIVO - MEDIA QUERIES ================================= */
@media (min-width: 1250px){ 
    #contato .container{
        margin: 0 auto;
    }

}


@media(max-width: 1100px){ /*ok*/
    #contato .container{
        margin: 0 auto;
    }

     #footer{
      margin: 0 auto;
    }

    
}



@media(max-width: 1050px){
    #contato .container{
        margin: 0 auto;
    }

}



@media(max-width: 999px){
    body{
        font-size: 1.2rem;
    }}